@font-face {
  font-family: "poppins";
  src: url("./../../fonts/Poppins-Regular.ttf") format("truetype");
}
@import "./navbar.scss";
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
#root {
  border-top: 10px solid orange;
  padding-bottom: 20px;
}
.clock {
  display: inline-block;
  width: 65px;
}
.h-link,
.h-link:focus,
.h-link:hover,
.h-link:visited,
.h-link:active {
  color: inherit;
  text-decoration: none;
}
.fd-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}
